name: Build & migrate to staging

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  deploy-preview:
    runs-on: ubuntu-latest

    env:
      SUPABASE_ACCESS_TOKEN: ${{ secrets.SUPABASE_ACCESS_TOKEN_PREVIEW }}
      SUPABASE_DB_PASSWORD: ${{ secrets.SUPABASE_DB_PASSWORD_PREVIEW}}
      SUPABASE_PROJECT_ID: ${{ secrets.SUPABASE_PROJECT_ID_PREVIEW}}
      SUPABASE_DB_CONN_STRING: ${{ secrets.SUPABASE_DB_CONN_STRING_PREVIEW }}
      EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: supabase/setup-cli@v1
        with:
          version: latest

      - run: sudo apt-get update && sudo apt-get install -y postgresql-client
      - run: supabase link --project-ref $SUPABASE_PROJECT_ID
      - run: psql $SUPABASE_DB_CONN_STRING -f ./supabase/seeds.sql
        working-directory: ./supabase

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm

      - uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install dependencies
        run: npm ci

      - name: Run EAS preview build
        run: eas build --profile preview --platform android --non-interactive --no-wait
